# This CODEOWNERS file denotes the project leads
# and encodes their responsibilities for code review.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The format is described: https://github.blog/2017-07-06-introducing-code-owners/

# These owners will be the default owners for everything in the repo.
* @frankhinek @csuwildcat @mistermoe @thehenrytsai

# These are owners of any file in the `common`, `crypto`, `crypto-aws-kms`, `dids`, and
# `credentials` packages and their sub-directories.
/packages/common         @jiyoontbd @diehuxx @mistermoe @frankhinek @thehenrytsai
/packages/crypto         @jiyoontbd @diehuxx @mistermoe @frankhinek @thehenrytsai
/packages/crypto-aws-kms @jiyoontbd @diehuxx @mistermoe @frankhinek @thehenrytsai
/packages/dids           @jiyoontbd @diehuxx @mistermoe @frankhinek @thehenrytsai
/packages/credentials    @jiyoontbd @diehuxx @mistermoe @frankhinek @thehenrytsai

# These are owners of any file in the `agent`, `user-agent`, `proxy-agent`, `identity-agent`, and
# `api` packages and their sub-directories.
/packages/agent          @lirancohen @frankhinek @csuwildcat @mistermoe @shamilovtim
/packages/proxy-agent    @lirancohen @frankhinek @csuwildcat @mistermoe @shamilovtim
/packages/user-agent     @lirancohen @frankhinek @csuwildcat @mistermoe @shamilovtim
/packages/identity-agent @lirancohen @frankhinek @csuwildcat @mistermoe @shamilovtim
/packages/api            @lirancohen @frankhinek @csuwildcat @mistermoe @shamilovtim
 
