body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.screen {
  width: 350px;
  margin: 50px auto;
  padding: 20px 30px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 48px;
  margin-bottom: 30px;
  color: #007BFF;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}

.subtle-text {
  font-size: 16px;
  /* Adjusted spacing */
  margin-bottom: 5px;
  color: #555;
  /* Centered text */
  text-align: center;
}

button {
  display: block;
  width: 100%;
  padding: 12px 0;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.alt-btn {
  display: block;
  width: 100%;
  padding: 12px 0;
  background-color: transparent;
  color: #007BFF;
  /* Border added for emphasis */
  border: 2px solid #007BFF;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  /* Removed underline */
  text-decoration: none;
  /* Ensuring centered text */
  text-align: center;
}

.alt-btn:hover {
  /* Optional: subtle background on hover */
  background-color: rgba(0, 123, 255, 0.1);
}

input[type="text"] {
  padding: 12px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"]::placeholder {
  color: #bbb;
}


.profile-icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  /* Make it circular */
  border-radius: 50%;
  display: inline-block;
  /* Adjusted spacing between icon and text */
  margin-right: 10px;
  /* Align with the adjacent text */
  vertical-align: middle;
  text-align: center;
  /* Vertically center the text inside */
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
}

#profileDisplay {
  display: flex;
  /* This ensures top alignment */
  align-items: start;
  margin-bottom: 20px;
}

#profileName {
  display: block;
  /* Reduced margin for a tighter appearance */
  margin-bottom: 3px;
}

p.profile-text {
  /* Reduced margin for a tighter appearance */
  margin: 0;
}