.code-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.code-wrapper > pre[class*="language-"] {
  margin-top: 0;
}

.copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  color: rgb(230 202 168);
  cursor: pointer;
  background: transparent;
  background-color: #011627;
  border: none;
}

.copy-button svg {
  width: 1em;
  margin-left: 0.25em;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.copy-button:hover svg {
  opacity: 1;
}

pre[class*=language-] {
  padding: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  overflow: auto
}

code[class*="language-"],
 pre[class*="language-"] {
  line-height: 1.6em;
}